asgiref==3.5.2
certifi @ file:///C:/Windows/TEMP/abs_e9b7158a-aa56-4a5b-87b6-c00d295b01fanefpc8_o/croots/recipe/certifi_1655968940823/work/certifi
charset-normalizer==3.1.0
Django==3.2.14
djangorestframework==3.13.1
idna==3.4
Pillow==9.2.0
pytz==2022.1
requests==2.31.0
sqlparse==0.4.2
typing_extensions==4.3.0
urllib3==1.26.6
wincertstore==0.2
